* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;       
    flex-wrap: wrap;  
}

.container {
    background-color: white;
    padding: 30px;
    text-align: center;
    max-width: 950px;
    width: 100%;        
    border-radius: 10px;
}

.container h1 {
    color: rgb(24, 21, 21);
    margin-bottom: 30px;
    font-size: 3rem;   
     
}

button {
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    transition: transform 0.3s;
    font-weight: 600;
    margin: 10px;
    min-width: 120px;
    max-width: 160px;     

}

.btn1 { 
    background-color: blue; 
}
.btn2 { 
    background-color: orange;
 }
.btn3 { 
    background-color: green; 
}
.btn4 {  
    background-color: red; 
}
.btn5 { 
    background-color: purple;
 }
.btn6 {
     background-color: yellow; 
    }

button:hover {
    transform: scale(1.2);
}
